/* O PermissaoLocalizacao.jsx já importa o Login.css, 
   por isso só precisamos de adicionar os estilos novos. */

/* Título (da imagem) */
.permissao-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700; /* Mais forte que o do login */
    font-size: 24px; /* Um pouco menor que o do login */
    color: #333; /* Preto, como na imagem */
    text-align: center;
    margin-bottom: 25px;
}

/* Container do Ícone */
.permissao-icon-container {
    text-align: center;
    margin-bottom: 20px;
}

/* Ícone de Mapa (da imagem) */
.permissao-icon {
    width: 150px; /* Definindo a largura para o SVG */
    height: 150px; /* Definindo a altura para o SVG */
}

/* Texto explicativo (da imagem) */
.permissao-texto {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #555; /* Cinza escuro */
    text-align: center;
    line-height: 1.5; /* Espaçamento entre linhas */
    margin-bottom: 30px;
}

/* Container dos botões */
.permissao-botoes-container {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaço entre os botões */
}

.btn-permitir {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background-color: #b42864; 
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 700;  
    transition: background-color 0.3s;
}
.btn-permitir:hover {
    background-color: #630527; 
}

.btn-agora-nao {
    width: 100%;
    padding: 15px;
    border: 1px solid #630527; 
    border-radius: 30px;
    background-color: #b42864; 
    color: #ffff; /* Texto cinza */
    font-size: 14px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 700;  
    transition: background-color 0.3s;
}
.btn-agora-nao:hover {
    background-color: #630527; 
}

/* ======================================= */
/* CÓDIGO RESPONSIVO         */
/* ======================================= */
@media (max-width: 768px) {
    .permissao-title {
        font-size: 20px; /* Reduz o tamanho do título em telas menores */
        margin-bottom: 20px;
    }

    .permissao-icon {
        width: 100px; /* Reduz o tamanho do ícone */
        height: 100px;
    }

    .permissao-texto {
        font-size: 14px; /* Reduz o tamanho da fonte do texto explicativo */
        margin-bottom: 25px;
    }

    .permissao-botoes-container {
        flex-direction: column; /* Garante que os botões se empilhem */
        gap: 10px;
    }

    .btn-permitir, .btn-agora-nao {
        padding: 12px; /* Ajusta o padding dos botões */
        font-size: 13px;
    }
}